<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>layui在线调试</title>
    <style>
        body {
            background: #fffdfa;
        }
    </style>
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <#include "layui.html">
</head>
<body>
<div class="layui-container">
    <table class="layui-hide" id="test" lay-filter="admin"></table>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>

<script src="/layui/layui.js"></script>

<script>
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'/result'
            ,toolbar: true
            ,title: '搜索结果表'
            ,where: {keyword:'${keyword}'}
            ,cols: [[
                {field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true}
                ,{field:'elements', title:'元素', }
                ,{field:'formula', title:'化学式', }
                ,{fixed: 'right', width:150, align:'center', toolbar: '#barDemo'}
            ]]
            ,page: true
            ,parseData: function(res){
                console.log('返回的值',res)
                return {
                    "code":0,
                    "msg":"",
                    "count":res.data.count,
                    "data": res.data.cules //解析数据列表
                };
            },

        });

        //监听行单击事件（双击事件为：rowDouble）
        table.on('row(test)', function(obj){
            var data = obj.data;

            layer.alert(JSON.stringify(data), {
                title: '当前行数据：'
            });

            //标注选中样式
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        });
        //监听行工具事件
        table.on('tool(admin)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据（json格式的键值对）
                ,layEvent = obj.event; //获得 lay-event 对应的值（编辑、删除、添加）
            if(layEvent === 'edit'){
                //脚本编辑弹出层
                var name = encodeURIComponent(data.toolName);
                // console.log(data.toolName);
                layer.open({
                    type: 2,
                    title: '编辑信息',
                    shadeClose: true,
                    shade: 0.8,
                    maxmin: true,
                    area: ['70%', '70%'],
                    content: '/dataEdit?id='+data.id,//设置你要弹出的jsp页面
                    success: function(layero, index){
                        var body = layer.getChildFrame('body', index);
                        var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                        $.each(data,function(key,value) {//循环遍历json数据
                            value=String(value).replace(/<em>/g,"").replace(/<\/em>/g,"");
                            $(body.find("#"+key)).val(value);
                        });
                    }
                });
            }
        });


    });
</script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>