<#include "layui.html">
<form class="layui-form" action="/adminDataEdit/">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">id</label>
            <div class="layui-input-inline">
                <input id="id" name="id" lay-verify="required" readonly="" autocomplete="off" class="layui-input" type="text">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">元素</label>
            <div class="layui-input-inline">
                <input id="elements" name="elements" lay-verify="required" autocomplete="off" class="layui-input" type="text">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">化学式</label>
            <div class="layui-input-inline">
                <input id="formula" name="formula" lay-verify="required" autocomplete="off" class="layui-input" type="text">
            </div>
        </div>


        <div class="layui-inline">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="editStudent">立即提交</button>
            </div>
        </div>
    </div>
</form>
<script src="/layui/layui.js"></script>
<script>
    layui.use(['form', 'layedit'] ,function(){
        var $ = layui.jquery
            ,form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit;
        var index = parent.layer.getFrameIndex(window.name); //修改成功的时候点击 确定 会关闭子窗口，这里获取一下子窗口
        form.render();
        //监听提交
        form.on('submit(editStudent)', function(data){ //这块要跟表单中的lay-filter="editStudent"对应
            $.ajax({
                url: "/adminDataEdit/",
                type: "post",
                async: false,   //不要让它异步提交
                data: data.field,
                dataType: "json",
                success: function (data) {
                    if(data.msg!='0'){
                        layer.alert("修改成功",{icon: 1,time:2000},function () {
                            layer.close(layer.index);
                            window.parent.location.reload();    //重新加载父页面，进行数据刷新
                        });
                    } else{
                        layer.alert("修改失败",{icon: 2,time:2000});
                    }
                }
            });
            return false;
        });

    });
</script>