<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>layui在线调试</title>
    <style>
        body {
            background: #fffdfa;
        }
    </style>
    <#include "layui.html">
</head>
<body>
<div class="layui-container">
    <div class="layui-row layui-col-space30">
        <div class="layui-col-md5">
            <img src="/images/cell.png" style="height: 480px;">
        </div>
        <div class="layui-col-md5">
            <div class="layui-row" >
                内部行
            </div>
            <div class="layui-row" >
                内部行
            </div>
            <div class="layui-row" >
                内部行
            </div>
            <div class="layui-row" >
                内部行
            </div>
            <div class="layui-row" >
                内部行
            </div>
        </div>
    </div>
</div>

<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>